header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: .75rem solid var(--primary-500);
}

h1{
    font-size: 1.5rem;
    color: var(--primary-800);
    
}

